@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core 3.1 app published to Azure Container Apps with GitHub Actions.</h1>
    <br />
    <br />
    <p>See the Action yaml at <a href="https://github.com/snobu/aspnetcore31container/blob/master/.github/workflows/deploy.yaml">https://github.com/snobu/aspnetcore31container/blob/master/.github/workflows/deploy.yaml</a></p>
    <p>Workflow log at <a href="https://github.com/snobu/aspnetcore31container/actions">https://github.com/snobu/aspnetcore31container/actions</a></p>
</div>
